---
---

.gram { width: 350px }
@media (min-width: 500px) {
  .gram { width: 310px }
}

video {
  width: 100%;
  max-height: 100%;
}

/* Link style for nav, etc */
a { color: #ed4fe3; text-decoration: none }
a:hover { text-decoration: underline }

/* Link style for post captions */
.caption a { color: #333; text-decoration: none }
.caption a:hover { background-color: #fbdbf9; text-decoration: none }
