---
---

.gram { width: 350px }
@media (min-width: 500px) {
  .gram { width: 310px }
}

video {
  width: 100%;
  max-height: 100%;
}

a, a:hover { text-decoration: none }

/* Link style for nav, etc */
a { color: #ed4fe3 }
a:hover { color: #555555 }

/* Link style for post captions */
a p.caption { color: #333333 }
a p.caption:hover { background-color: #fbdbf9 }
