---
---

.caption {
  font-size: 85%;
  color: #787878;
}

a { text-decoration: none }
a:hover { text-decoration: underline }

.post { width: 350px }
.post a:hover { text-decoration: none; color: blue }

video {
  width: 100%;
  max-height: 100%;
}

@media (min-width: 500px) {
  .post { width: 310px }
}
