---
layout: default
---

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <div class="mb-4">
      <p class="fw-bold">
        {{ page.time | date: "%B %-d, %Y" }}
      </p>

      {{ page.caption }}
    </div>

    {% for link in page.media %}
      <div class="mb-3">
        {% if link contains "jpg" %}
          <img class="img-fluid rounded mb-1" src="https://assets.eliduke.com/archives/instagram/eliduke/{{ link }}">
        {% else %}
          <video controls>
            <source src="https://assets.eliduke.com/archives/instagram/eliduke/{{ link }}" type="video/mp4">
          </video>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
