---
layout: default
---

<div class="row mt-5">
  <div class="col-lg-6 offset-lg-3">
    {% for link in page.media %}
      <div class="mb-4">
        {% if link contains "jpg" %}
          <img class="img-fluid" src="{{ site.insta_eli_assets }}{{ link }}">
        {% else %}
          <video controls>
            <source type="video/mp4" src="{{ site.insta_eli_assets }}{{ link }}">
          </video>
        {% endif %}
      </div>
    {% endfor %}

    <div class="my-4">
      <p class="fw-bold">
        {{ page.time | date: "%B %-d, %Y" }}
      </p>

      {{ page.caption }}
    </div>
  </div>
</div>
